:root {
  --color-bg-light: rgb(174, 250, 241);
  --color-bg-main: rgb(110, 251, 234);
  --color-bg-dark: rgba(0, 252, 222, 0.845);
  --color-bg-active: rgb(0, 191, 249);
  --color-accent: rgb(252, 182, 244);
  --color-neutral: rgb(60, 80, 100);
}