.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 1rem 4rem;
}
nav a {
  margin: 0 0.4rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 1s;
  color:black;
  padding: 1rem 1rem;
}
nav a:not(.active):hover {
    background-color: var(--color-bg-dark);
    border-radius:8px;
}
nav a.active {
    border-bottom: 2px solid var(--color-bg-active);
}
nav a:active{
    color: black;
}
.header-mobile{
    display:none;
}
.mobile-nav{
    display:none;
}
@media (max-width: 700px) {
    .header-mobile{
        display:flex;
        flex-direction: column;
        align-items: stretch;
        padding: 1rem 1.5rem;
        gap: 1rem;
    }
    .mobile-nav{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content:space-between;
    }
    .mobile-nav-links{
        display: none;
        flex-direction: column;
        align-items: center;
        top: 100%;
        gap: 1rem;
        margin-top: 1rem;
    }
    .mobile-nav-links a{
        text-decoration:none;
    }
    .mobile-nav-links.open {
        display: flex;
    }
    .header{
        display:none;
    }
    .hamburger {
        display: block;
        transition: transform 0.4s cubic-bezier(0.4, 0.2, 0.2, 1);
        margin: 0; 
    }
    .hamburger.open {
        transform: rotate(360deg);
    }
}